@import "./_variables.scss";
@import "./style.scss";

@keyframes thmBtnRipple {
  0% {
    left: 10px;
  }
  30% {
    top: 20px;
  }

  100% {
    left: calc(100% - 10px);
  }
}
.button-new-tag {
  border-radius: 50%;
  width: 32px;
  i {
    position: relative;
    right: 6px;
    color: dodgerblue;
  }
}
.el-row {
  .el-form-item {
    margin-bottom: 0px;
  }
  .el-form-item__label {
    font-size: 15px;
    line-height: 24px;
    color: $bunting;
  }
  .el-col {
    label {
      font-size: 16px;
      font-weight: 400;
      .span1 {
        color: $white;
        background: $bunting;
        padding: 2px 7px;
        border-radius: 25px;
        font-size: 10px;
      }
    }
    .el-select {
      width: 100%;
    }
    .el-date-editor--date {
      width: 100%;
    }
    .el-textarea {
      .el-textarea__inner {
        background: $white;
        border: 1px solid $input_bg;
        margin: 8px 0px;
        padding-bottom: 9px;
        box-shadow: -1px 4px 4px rgba(109, 122, 151, 0.12);
      }
      .el-textarea__inner:focus {
        border: 1px solid $yellow;
        background: $white;
        border-color: rgba(234, 76, 137, 0.4);
        -webkit-box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
        box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
      }
    }
    .el-input {
      font-size: 16px;
      input.el-input__inner {
        background: $white;
        border: 1px solid $input_bg;
        margin: 8px 0px;
        margin-bottom: 13px;
      }
      input.el-input__inner:focus {
        border: 1px solid $yellow;
        background: $white;
        border-color: rgba(234, 76, 137, 0.4);
        -webkit-box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
        box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
      }
      .el-select__caret {
        color: $dropdown_caret;
      }
    }
    .el-range-editor.el-input__inner {
      width: 100%;
    }
    .el-date-editor .el-range-separator {
      width: 8%;
    }
  }
}
.action_draw .el-button + .el-button {
  margin-left: 40px;
}
.action {
  margin-top: 1.2rem;
  .el-button {
    padding-left: 2rem;
    padding-right: 2rem;
    outline: none;
  }
  .el-button::before {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.2;
    width: 35px;
    height: 35px;
    top: 10%;
    transform: translateY(-50%);
    left: -5px;
  }
  .el-button:hover::before {
    animation: thmBtnRipple 2s ease-out infinite;
  }
  .el-button--primary {
    color: $white;
    border-color: $white;
    background: linear-gradient(90deg, #0ed4de 0%, #0074d4 100%);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-position: top;
    position: relative;
    &:hover {
      background-color: #383edf;
      color: $white;
    }
  }
  .el-button--info {
    span {
      text-align: left;
    }
    color: $white;
    border-color: $white;
    background-image: linear-gradient(90deg, #f6a31c 0%, #ee7b18 100%);
    background-size: auto 200%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-position: top;
    position: relative;
    &:hover {
      background-color: $pink;
      color: $white;
      border: 1px solid $white;
    }
  }
  .el-button--success {
    span {
      text-align: left;
    }
    color: $white;
    border-color: $white;
    background-size: auto 200%;
    background-image: linear-gradient(90deg, #b1f150 0%, #388e3c 100%);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-position: top;
    position: relative;
    &:hover {
      background-color: $pink;
      color: $white;
      border: 1px solid $white;
    }
  }
  .el-button--danger {
    span {
      text-align: left;
    }
    color: $white;
    border-color: #ec4c6e;
    background-image: linear-gradient(90deg, #f94e6c 0%, #dd1144 100%, #f94e6c 100%);
    background-size: auto 200%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-position: top;
    position: relative;
    &:hover {
      background-color: $pink;
      border: 1px solid $white;
    }
  }
  .el-button--warning {
    span {
      text-align: left;
    }
    color: $white;
    border-color: $white;
    background-size: auto 200%;
    background-image: linear-gradient(90deg, #e53792 0%, #a53792 100%);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-position: top;
    position: relative;
    &:hover {
      background-color: $pink;
      color: $white;
      border: 1px solid $white;
    }
  }
  .el-button--default {
    span {
      text-align: left;
    }
    background-size: auto 200%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-position: top;
    position: relative;
  }
}
.el-date-table td.today span {
  color: $pink;
}
.el-date-table td.available:hover {
  color: $pink;
}
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}
.el-range-editor.is-active,
.el-range-editor.is-active:hover {
  border-color: $pink;
}
.el-date-table td.end-date span,
.el-date-table td.start-date span {
  background-color: $pink;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.6em;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-left: 4px solid rgba(0, 0, 0, 0);
}

.login_form .input_email {
  .el-input__inner {
    padding-left: 37px;
  }
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $green;
  border-color: $green;
}
.el-checkbox__inner::after {
  box-sizing: content-box;
  content: "";
  border: 1px solid $white;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  transition: transform 0.15s ease-in 0.05s;
  transform-origin: center;
}
.el-form-item__content {
  .el-form-item__error {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 12px;
    position: absolute;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    top: 3px;
    right: 0px;
    left: auto;
    z-index: 2;
    height: 25px;
    line-height: 1;
    background-color: $pink;
    color: $white;
    font-weight: normal;
    display: inline-block;
    padding: 6px 8px;
  }
  .el-form-item__error:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color: transparent $pink;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -6px;
    left: 20%;
  }
}

// switch
.el-switch__label.is-active {
  color: $pink;
}
.el-switch.is-checked span.el-switch__core {
  border-color: $pink;
  background-color: $pink;
}

.el-switch {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

// multi_tag
.el-tag.el-tag--info {
  background-color: $pink;
  border-color: $pink;
  color: $white;
}
.el-select__tags {
  top: 48%;
}
.el-select .el-tag__close.el-icon-close {
  background-color: $white;
  color: $pink;
  &:hover {
    background-color: $plum;
  }
}
// dialog_header
.el-dialog__header {
  padding: 0;
}

// tooltip
.el-tooltip__popper.is-dark {
  background: $bunting;
  color: #fff;
}

// checkbox
.checkbox {
  .el-form-item,
  .el-form-item__content,
  .el-checkbox {
    width: 100%;
    display: contents;
  }
  .el-checkbox__inner {
    height: 24px;
    width: 24px;
    top: 12px;
    left: 8px;
  }
  .el-checkbox__inner::after {
    box-sizing: content-box;
    content: "";
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 15px;
    left: 10px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    transition: transform 0.15s ease-in 0.05s;
    transform-origin: center;
  }
  .el-checkbox__input {
    line-height: 0;
    left: 25px;
    position: absolute;
  }
  .el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: $pink;
  }
  .el-checkbox__label {
    padding: 13px 15px 13px 50px;
    background-color: $white;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #ddd;
    min-height: 30px;
    font-weight: 400;
    width: 100%;
  }
  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: $pink;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: $pink;
    border-color: $pink;
  }
  .el-checkbox__inner:hover {
    border-color: $pink;
  }
}

.el-button--success {
  color: $white;
  background-color: #0aae7d;
  border-color: #0aae7d;
  &:hover {
    background-color: #0aae7d;
    border-color: #0aae7d;
    opacity: 0.7;
  }
  &:focus {
    background-color: #0aae7d;
    border-color: #0aae7d;
  }
}
.el-button--primary {
  color: $white;
  background-color: #1f6bff;
  border-color: #1f6bff;
  &:focus {
    background-color: #2f53df;
    border-color: #2449dd;
    opacity: 0.7;
  }
}
.el-button--danger {
  color: $white;
  background-color: $pink;
  border-color: $pink;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 0 1px 1px rgba(39, 44, 51, 0.075);
  &:hover {
    background-color: $pink;
    border-color: $pink;
    opacity: 0.7;
  }
}

// drawer
.el-drawer__header {
  margin-bottom: 0px;
  padding: 10px 20px 0;
  span {
    font-size: 1.5em;
    padding-left: 0.8em;
    color: $bunting;
  }
  .el-drawer__close-btn {
    color: $bunting;
  }
}
.el-button {
  transition: all 0.5s ease-out 0s;
  height: 42px;
  padding: 10px 20px;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: $pink;
  background: $pink;
}
.el-radio__input.is-checked + .el-radio__label {
  color: $pink;
}
.el-radio__inner:hover {
  border-color: $pink;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: $pink;
}
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $pink;
  border-color: $pink;
}
.el-input,
.el-button {
  font-size: 16px;
}

.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
  content: "";
  color: #f56c6c;
  margin-right: 4px;
}
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:after {
  content: " *";
  color: #f56c6c;
  margin-right: 4px;
  position: relative;
  top: -5px;
}

.demo-drawer__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  .el-form {
    flex: 1;
  }
  .demo-drawer__footer {
    display: flex;
    button {
      flex: 1;
    }
  }
}

.el-message-box__btns {
  .el-button--primary {
    background-size: auto 200%;
    background-image: linear-gradient(90deg, #e53792 0%, #a53792 100%);
    border: #e53792;
    opacity: 1;
  }
}
.el-table,
.el-tabs__item {
  font-size: 16px;
}

.el-row .el-col .search input.el-input__inner {
  padding-top: 3px;
  margin: 0px;
  height: 44px;
}

// customer searching
.el-row .el-col .customer-search input.el-input__inner {
  background: $white;
  border: 1px solid #ddd;
  margin-top: 0;
}
.el-row .el-col .customer-search input.el-input__inner:focus {
  background: $white;
}
.customer-search {
  position: relative;
  i {
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 1.7em;
    color: darkgray;
    z-index: 99;
  }
  .el-input__inner {
    height: 50px;
    padding-left: 50px;
  }
}
.my-checkbox {
  .el-checkbox__inner {
    width: 20px;
    height: 20px;
  }
  .el-checkbox__inner::after {
    height: 10px;
    left: 8px;
    top: 2px;
  }
}

.el-input-number__decrease,
.el-input-number__increase {
  top: 9px;
  padding: 4px;
}
.el-dialog {
  border-radius: 12px;
  .el-dialog__header {
    padding-top: 60px;
    padding-left: 60px;
    border: 0px solid #e0e6ed;
    .el-dialog__title {
      font-weight: 700;
      font-size: 30px;
      letter-spacing: 1px;
      color: #3b3f5c;
    }
    .el-dialog__headerbtn {
      top: 15px;
      right: 25px;
      font-size: 1.5em;
    }
  }
  .el-dialog__body{
    padding: 40px 60px;
  }
}
.el-input__suffix {
  top: -2px;
}

.dialog-table-option {
  td{
    padding: 0px;
  }
  .el-table_1_column_2     {
    text-align: center;
  }
  .el-table_1_column_3  {
    text-align: center;
  }
}
button.el-button.btn-new-product {
  height: 48px;
  padding: 10px 15px;
  border-radius: 6px;
  box-shadow: -1px 4px 4px rgb(0, 80, 255);
}

button.el-button.btn-new-print {
  height: 48px;
  padding: 10px 15px;
  border-radius: 6px;
  border: #f55d2c;
  background-image: linear-gradient(to right, rgba(230, 92, 91, 0.9), rgba(245, 93, 44, 0.9));
  box-shadow: -1px 4px 4px #f55d2c;
}
button.el-button.btn-product-option {
  height: 48px;
  padding: 10px 15px;
  border-radius: 6px;
  border-color: #78c350;
  background-image: linear-gradient(to right, rgba(120, 195, 80, 1), rgba(27, 201, 27, 0.767));
  box-shadow: -1px 4px 4px #78c350;
}
button.el-button.btn-category {
  height: 48px;
  padding: 10px 15px;
  border-radius: 6px;
  border-color: #8063e9;
  background-image: linear-gradient(to right, rgba(96, 92, 168, 1.00), rgb(131, 126, 238));
  box-shadow: -1px 4px 4px #8063e9;
}