@import "./_variables.scss";
@import "./style.scss";

@keyframes thmBtnRipple {
  0% {
    left: 10px;
  }
  30% {
    top: 20px;
  }

  100% {
    left: calc(100% - 10px);
  }
}
.button-new-tag {
  border-radius: 50%;
  width: 32px;
  i {
    position: relative;
    right: 6px;
    color: dodgerblue;
  }
}
.el-row {
  .el-form-item {
    margin-bottom: 0px;
  }
  .el-form-item__label {
    line-height: 24px;
    color: $bunting;
  }
  .el-col {
    label {
      font-size: 13px;
      font-weight: 500;
      .span1 {
        color: $white;
        background: $bunting;
        padding: 2px 7px;
        border-radius: 25px;
        font-size: 10px;
      }
    }
    .el-select {
      width: 100%;
    }
    .el-date-editor--date {
      width: 100%;
    }
    .el-textarea {
      .el-textarea__inner {
        background: $input_bg;
        border: 1px solid $input_bg;
        margin: 8px 0px;
        padding-bottom: 9px;
      }
      .el-textarea__inner:focus {
        border: 1px solid $yellow;
        border-color: $pink;
        background: $input_bg;
      }
    }
    .el-input {
      input.el-input__inner {
        background: $input_bg;
        border: 1px solid $input_bg;
        margin: 8px 0px;
        margin-bottom: 13px;
      }
      input.el-input__inner:focus {
        border: 1px solid $bunting;
        border-color: $pink;
        background: $input_bg;
      }
      .el-select__caret {
        color: $dropdown_caret;
      }
    }
    .el-range-editor.el-input__inner {
      width: 100%;
    }
    .el-date-editor .el-range-separator {
      width: 8%;
    }
  }
}
.action {
  margin-top: 0.5rem;
  .el-button {
    padding-left: 2rem;
    padding-right: 2rem;
    outline: none;
  }
  .el-button::before {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.2;
    width: 35px;
    height: 35px;
    top: 10%;
    transform: translateY(-50%);
    left: -5px;
  }
  .el-button:hover::before {
    animation: thmBtnRipple 2s ease-out infinite;
  }
  .el-button--info {
    span {
      text-align: left;
    }
    color: $white;
    border-color: #b94eec;
    background-image: linear-gradient(0deg, #7b22b0 0%, #e867ff 51%, #7b22b0 100%);
    background-size: auto 200%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-position: top;
    position: relative;
    &:hover {
      background-color: $pink;
      color: $white;
    }
  }
  .el-button--success {
    span {
      text-align: left;
    }
    color: $white;
    border-color: #7dc56f;
    background-size: auto 200%;
    background-image: linear-gradient(0deg, #388e3c 0%, #b6e66d 51%, #388e3c 100%);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-position: top;
    position: relative;

    &:hover {
      background-color: $pink;
      color: $white;
    }
  }
  .el-button--danger {
    span {
      text-align: left;
    }
    color: $white;
    border-color: #ec4c6e;
    background-image: linear-gradient(0deg, #f94e6c 0%, #dd1144 51%, #f94e6c 100%);
    background-size: auto 200%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-position: top;
    position: relative;
    &:hover {
      background-color: $pink;
      color: $white;
    }
  }
  .el-button--warning {
    span {
      text-align: left;
    }
    color: $white;
    border-color: $white;
    background-image: linear-gradient(180deg, $pink 0%, $plum 51%, $pink 100%);
    background-size: auto 200%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-position: top;
    position: relative;
    &:hover {
      background-color: $pink;
      color: $white;
    }
  }
  .el-button--purple {
    span {
      text-align: left;
    }
    color: $white;
    border-color: rgb(242, 91, 161);
    background-image: linear-gradient(0deg, #943792 0%, #f93793 51%, #943792 100%);
    background-size: auto 200%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-position: top;
    position: relative;
    &:hover {
      background-color: $pink;
      color: $white;
    }
  }
}
.el-date-table td.today span {
  color: $pink;
}
.el-date-table td.available:hover {
  color: $pink;
}
.el-range-editor.is-active,
.el-range-editor.is-active:hover {
  border-color: $pink;
}
.el-date-table td.end-date span,
.el-date-table td.start-date span {
  background-color: $pink;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.6em;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-left: 4px solid rgba(0, 0, 0, 0);
}

.login_form .input_email {
  .el-input__inner {
    padding-left: 37px;
  }
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $green;
  border-color: $green;
}
.el-checkbox__inner::after {
  box-sizing: content-box;
  content: "";
  border: 1px solid $white;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  transition: transform 0.15s ease-in 0.05s;
  transform-origin: center;
}
.el-form-item__content {
  .el-form-item__error {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 12px;
    position: absolute;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    top: 3px;
    right: 0px;
    left: auto;
    z-index: 2;
    height: 25px;
    line-height: 1;
    background-color: $pink;
    color: $white;
    font-weight: normal;
    display: inline-block;
    padding: 6px 8px;
  }
  .el-form-item__error:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color: transparent $pink;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -6px;
    left: 20%;
  }
}

// switch
.el-switch__label.is-active {
  color: $pink;
}
.el-switch.is-checked .el-switch__core {
  border-color: $pink;
  background-color: $pink;
}

.el-switch {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

// multi_tag
.el-tag.el-tag--info {
  background-color: $pink;
  border-color: $pink;
  color: $white;
}
.el-select__tags {
  top: 48%;
}
.el-select .el-tag__close.el-icon-close {
  background-color: $white;
  color: $pink;
  &:hover {
    background-color: $plum;
  }
}
// dialog_header
.el-dialog__header {
  padding: 0;
}

// tooltip
.el-tooltip__popper.is-dark {
  background: $bunting;
  color: #fff;
}

// checkbox
.checkbox {
  .el-form-item,
  .el-form-item__content,
  .el-checkbox {
    width: 100%;
    display: contents;
  }
  .el-checkbox__inner {
    height: 24px;
    width: 24px;
    top: 12px;
    left: 8px;
  }
  .el-checkbox__inner::after {
    box-sizing: content-box;
    content: "";
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 15px;
    left: 10px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    transition: transform 0.15s ease-in 0.05s;
    transform-origin: center;
  }
  .el-checkbox__input {
    line-height: 0;
    left: 25px;
    position: absolute;
  }
  .el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: $pink;
  }
  .el-checkbox__label {
    padding: 13px 15px 13px 50px;
    background-color: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #ddd;
    min-height: 30px;
    font-weight: 400;
    width: 100%;
  }
  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: $pink;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: $pink;
    border-color: $pink;
  }
  .el-checkbox__inner:hover {
    border-color: $pink;
  }
}

// store upload img
// @media (max-width: 768px) {
//   .my-upload .upload-img .el-upload--picture-card {
//     border-radius: 50%;
//     width: 78.2%;
//     height: 200px;
//   }
// }
