.tab-option .el-tabs__item {
  padding: 0 20px;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  display: inline-block;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  color: #6571c4;
  position: relative;
}
.tab-option .el-tabs__header {
  padding: 0 10px;
  padding-top: 10px;
}
.tab-option .el-tabs--card > .el-tabs__header .el-tabs__nav {
  border: 0px solid #e4e7ed;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  box-sizing: border-box;
}
.tab-option .el-tabs--card > .el-tabs__header .el-tabs__item {
  margin-top: 14px;
  border-bottom: 0px solid transparent;
  border-left: 0px solid #e4e7ed;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tab-option .el-tabs--card > .el-tabs__header {
  border-bottom: 0px solid #e4e7ed;
}
.tab-option .el-tabs__item.is-active {
  color: #409eff;
  background-color: #1e2e90;
  color: #fff;
}
.tab-option .el-tabs__new-tab {
  float: right;
  border: 0px solid #d3dce6;
  height: 25px;
  width: 25px;
  line-height: 25px;
  margin: 12px 0 9px 10px;
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
  color: #d3dce6;
  background-color: #3d53d6;
  cursor: pointer;
  transition: all 0.15s;
  &:hover {
    color: #d3dce6;
  }
}
.tab-option .el-tabs__header {
  background: #2437AC;
}
.el-tabs__item .el-icon-close:hover {
  background-color: #2437AC;
  color: #fff;
}
.tab-option .el-tabs--card > .el-tabs__header .el-tabs__item.is-active.is-closable .el-icon-close {
  background-color: #1e2e90;
  color: #fff;
}
.tab-option .el-tabs__content {
  padding: 0 10px;
}
.input-no-border {
  .el-input__inner {
    padding-left: 50px;
    border: 2px solid #d3dce6;
  }
  .el-input__inner:focus {
    border: 2px solid #3d53d6;
  }
}
