*:focus {
  outline: none !important;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.body_wrapper {
  .sidebar {
    z-index: 9;
    position: fixed;
    transition: all 0.5s ease-in-out;
    -webkit-animation: bounceInLeft 1000ms ease-in-out;
    animation: bounceInLeft 1000ms ease-in-out;
    .ul-wrapper {
      transition: 0.3s;
      height: calc(100% - 80px);
      overflow: auto;
      height: 100%;
      overflow: hidden scroll;
      transition: 0.5s;
      ul {
        padding: 0;
        margin: 13px 0 0 0;
        transition: 0.3s;
        li {
          display: block;
          line-height: 25px;
          font-size: 14px;
          height: auto;
          transition: 0.5s;
          -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
          padding: 0.4em 3em;
          a {
            color: $white;
            cursor: pointer;
            font-weight: 500;
            transition: all 0.3s;
            width: 100%;
            padding: 1em;
            i {
              color: $white;
              transition: 0.3s;
              z-index: -1;
            }
            span {
              z-index: -1;
            }
          }
          //< ----icon for caret dropdown---->
          // a:after {
          //   font-family: 'Feather-Icons';
          //   content: '\e92e';
          //   opacity: 1;
          //   font-size: 16px;
          //   transition: 0.3s;
          //   line-height: 17px;
          //   width: 17px;
          //   height: 17px;
          //   color: $white;
          //   display: inline-block;
          //   border-radius: 3px;
          //   margin-left: 7px;
          //   text-indent: 0;
          //   position: absolute;
          //   right: 25px;
          //   top: 19px;
          // }
          // a:only-child:after {
          //   content: '';
          //   display: none;
          // }
          // ----icon for caret dropdown----
          .router-link-active {
            background: $white;
            outline: none;
            transition: all 0.5s;
            width: 100%;
            border-radius: 15px;
            -webkit-transition-delay: 8000ms;
            -moz-transition-delay: 8000ms;
            -o-transition-delay: 8000ms;
            transition-delay: 8000ms;
            transition-property: margin-right;
            -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
            i {
              color: $pink;
              z-index: 2;
            }
            span {
              color: $pink;
              z-index: 2;
            }
          }
          // .router-link-active:after {
          //   content: "";
          //   width: 30px;
          //   height: 30px;
          //   margin-top: 51px;
          //   transform: rotate(360deg) scale(1);
          //   background-size: 100%;
          //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='280.51' height='280.52' viewBox='0 0 259.51 259.52'%3E%3Cpath id='Path_143' data-name='Path 143' d='M8659.507,423.965c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828-2.394-2.974-4.937-5.936-7.292-8.589-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3a115.051,115.051,0,0,0-12.526-.227h259.51Z' transform='translate(-8399.997 -164.445)' fill='%23f1f5f8'/%3E%3C/svg%3E%0A");
          //   position: absolute;
          //   top: 0;
          //   right: 0;
          //   margin-right: 0.01rem;
          //   transition: 0.8s;
          // }
          // .router-link-active:before {
          //   content: "";
          //   width: 30px;
          //   height: 30px;
          //   margin-top: -30px;
          //   transform: rotate(90deg) scale(1);
          //   background-size: 100%;
          //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='280.51' height='280.52' viewBox='0 0 259.51 259.52'%3E%3Cpath id='Path_143' data-name='Path 143' d='M8659.507,423.965c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828-2.394-2.974-4.937-5.936-7.292-8.589-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3a115.051,115.051,0,0,0-12.526-.227h259.51Z' transform='translate(-8399.997 -164.445)' fill='%23f1f5f8'/%3E%3C/svg%3E%0A");
          //   position: absolute;
          //   top: 0;
          //   right: 0;
          //   margin-right: 0.01rem;
          //   transition: 0.3s;
          //   -webkit-transition-delay: 8000ms;
          //   -moz-transition-delay: 8000ms;
          //   -o-transition-delay: 8000ms;
          //   transition-delay: 8000ms;
          //   transition-property: margin-right;
          // }

          ul {
            padding: 0;
            margin: 0;
            visibility: hidden;
            max-height: 0;
            opacity: 0;
            line-height: 0;
            transition: 0.3s;
            pointer-events: none;
            display: none;
            li {
              background-color: transparent;
              border: none;
              padding-left: 63px;
              position: relative;
              margin: 0;
              a {
                padding: 9px 0 !important;
                transition: 0.3s;
              }
              a:after {
                content: "";
                display: none;
              }
            }
            li:hover {
              background: none;
            }
          }
          ul:before {
            content: "";
            display: none;
          }
        }
        li.active-submenu ul {
          visibility: visible;
          padding: 0px 0 13px 0;
          line-height: 24px;
          opacity: 1;
          max-height: 220px;
          pointer-events: all;
          margin-top: 0 !important;
          padding-top: 0 !important;
          display: block;
          transition: 0.3s;
        }
        li.active-submenu a:after {
          content: "\e931";
        }
        li:hover {
          background-color: rgba(102, 103, 107, 0.04);
          width: 100%;
          transition: 0.3s;
        }
      }
      ul:before {
        content: attr(data-submenu-title);
        transition: 0.5s;
        padding: 0 20px;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        display: block;
      }
    }
  }
  .wrapper_main {
    .header_fixed {
      position: fixed;
      z-index: 2;
      transition: 0.9s;
    }
    .header_scroll {
      .dropdown_menu {
        .grid-dropdown {
          display: none;
          position: absolute;
          z-index: 1020;
          box-sizing: border-box;
          min-width: 200px;
          padding: 20px;
          background: $white;
          color: #666;
          transition: 0.5s;
          box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
        }
        .grid-open {
          display: block;
        }
        .icon-browse {
          width: 220px;
          padding: 1.5rem 1rem;
          padding-bottom: 0;
          border-radius: 0;
          transition: 0.5s;
          .more-app {
            background: #f7f7f7;
            border-radius: 0px;
            padding: 10px 0;
            text-align: center;
            color: $pink;
            width: 220px;
            display: inline-block;
            margin-bottom: 0;
            font-size: 14px;
            margin: 0 -16px;
            border-top: 1px solid #eaeaea;
          }
          .icon-menu-item {
            width: 90px;
            display: inline-block;
            text-align: center;
            margin-bottom: 1.7rem;
            color: $bunting;
            font-size: 13px;
            i {
              font-size: 28px;
              line-height: 42px;
              display: block;
            }
            &:hover {
              color: $pink;
            }
          }
        }
      }
      li {
        .router-link-active {
          color: $white;
          background: $pink;
          .app-icon-block.first {
            background: $bunting;
          }
          .app-icon-block {
            background: $white;
          }
          i,
          span {
            color: $white;
          }
          &:hover {
            color: $white;
          }
        }
      }
      li .active_profile {
        background: $pink;
        span {
          color: $white;
        }
      }
      .dropdown_menu{
        .grid-open {
          .router-link-active {
            border-radius: 20px;
            padding: 10px;
            color: $white;
            background: $pink;
            .app-icon-block.first {
              background: $bunting;
            }
            .app-icon-block {
              background: $white;
            }
            i,
            span {
              color: $white;
            }
            &:hover {
              color: $white;
            }
          }
        }
      }
    }
  }
}
main .content {
  margin-left: 160px;
  transition: 0.5s;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.6em;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-left: 4px solid rgba(0, 0, 0, 0);
}
.menu_callaped {
  .page-menu-inner {
    width: 80px;
    transition: 0.5s;
    .ul-wrapper {
      width: 80px;
      transition: 0.5s;
      ul {
        li {
          padding: 0.3em 1em;
          a {
            transition: 0.3s;
            padding: 1em;
            span {
              display: none;
            }
            i {
              margin-right: 0;
              font-size: 1.8em;
              transition: 0.3s;
              position: relative;
              top: 2px;
            }
          }
          a:after {
            transition: 0.3s;
            position: absolute;
            right: 7px;
            top: 20px;
          }
        }
      }
    }
  }
  .header_scroll{
    .pl-40{
      transition: all 0.5s ease-in-out;
      -webkit-animation: bounceInLeft 1000ms ease-in-out;
      animation: bounceInLeft 1000ms ease-in-out;
      padding-left: 5rem;
    }
  }
  main .content {
    margin-left: 80px;
    transition: 0.5s;
  }
}
.app-icon {
  width: 24px;
  .app-icon-inner {
    width: 18px;
    height: 18px;
    .app-icon-block {
      background: $pink;
      width: 7px;
      height: 7px;
      display: block;
      padding: 0;
      float: left;
      margin: 1px;
    }
    .first {
      background: $bunting;
    }
  }
}

.bread_crumb {
  ul {
    li {
      a {
        font-size: 0.875rem;
        transition: 0.3s;
      }
    }
    li:before {
      font-family: "Feather-Icons";
      content: "\e930";
      opacity: 1;
      font-size: 16px;
      transition: 0.3s;
      line-height: 17px;
      width: 17px;
      height: 17px;
      display: inline-block;
      border-radius: 3px;
      margin-left: 7px;
      margin-right: 7px;
      text-indent: 0;
      top: 3px;
      position: relative;
      color: #070707;
    }
    li:first-child:before {
      display: none;
    }
    li:last-child {
      color: #727272;
    }
  }
}
.w-160px {
  transition: 0.3s;
}
@media (max-width: 768px) {
  .body_wrapper {
    .sidebar {
      height: 60px;
      transition: 0.3s;
      .page-menu-inner {
        width: 70px;
        transition: 0.5s;
        .ul-wrapper {
          display: none;
          width: 70px;
          transition: 0.5s;
        }
      }
    }
  }
  main .content {
    margin-left: 0px;
    transition: 0.5s;
  }
  .menu_mobile_callaped {
    .sidebar {
      height: 100vh;
      z-index: 9;
      position: fixed;
      .page-menu-inner {
        width: 70px;
        transition: 0.5s;
        display: block;
        .ul-wrapper {
          width: 70px;
          transition: 0.5s;
          display: block;
          ul {
            li {
              padding: 0.6em;
              a {
                text-align: center;
                padding: 10px 10px;

                span {
                  display: none;
                }
                i {
                  margin: 3px 0;
                  font-size: 1.8em;
                  width: 100%;
                  transition: 0.3s;
                  position: relative;
                  top: 0px;
                }
              }
              ul {
                li {
                  border: none;
                  padding-left: 0px;
                  text-align: center;
                  margin: 0;
                  a {
                    font-size: 12px;
                    text-align: center;
                  }
                }
              }
            }
          }
          ul:before {
            content: attr(data-submenu-title);
            margin-bottom: 5px;
            display: block;
            color: $span_in_label;
            font-weight: bolder;
            font-size: 14px;
            text-align: center;
            margin-left: -2px;
          }
        }
      }
    }
    main .content {
      margin-left: 200px;
      transition: 0.5s;
    }
  }
}
.h-half{
  height: 80vh;
}